.navbar-nav .nav-item .nav-link{
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.2s ease;
}

.navbar-nav .nav-item .nav-link:hover{
    color: #007bff !important;
    text-decoration-line: underline;
}

.carousel-item img{
    max-height: 100%;
    width: 100%;
}

/* tranding product */
.tranding-product {
    position: relative;
    display: inline-block;
    font-size: 24px; 
}

.tranding-product::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px; 
    height: 4px; 
    background-color: rgb(68, 66, 66); 
    border-radius: 10px !important;
}

.tranding-product::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    z-index: 9999;
    width: 100px; 
    height: 8px; 
    border-radius: 10px !important;
    background-color: rgb(230, 8, 8);
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}
.product-card:hover {
    transform: translateY(-10px);
}
.product-image a img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
