body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 7px;
    /* Scrollbar width */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
    background: #003366;
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
    background: #f9a826;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:hover {
    background: #003366;
    /* Gold on Hover */
}

/* Scrollbar Styling for Small Screens */
@media screen and (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 5px; /* Narrower scrollbar for small screens */
    }

    ::-webkit-scrollbar-track {
        background: #002244;
    }

    ::-webkit-scrollbar-thumb {
        background: #f9a826;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #002244;
    }
}

/* navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: 0.4s;
    background: #ffffff;
    backdrop-filter: blur(10px);
    border-radius: 0;
    border-top: 5px solid #003366;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    display: none;
}

.dropdown-menu li .dropdown-item{
    font-weight: bold !important;
}

.dropdown-menu li .dropdown-item:hover{
    color: white !important;
    background-color: #f9a826 !important;
}

.navbar-brand img {
    height: 70px;
}

.navbar-toggler {
    color: black;
    font-size: 1.8rem;
    font-weight: 1000;
}

.navbar-brand {
    color: #003366;
    font-size: 1.6rem;
    font-weight: bold;
}


.navbar-brand:hover {
    color: #003366 !important;
}

.nav-link {
    font-size: 1.1rem;
    font-weight: 700;
    color: black !important;
    transition: 0.3s;
}

.nav-link:hover {
    color: #f9a826 !important;
    transform: scale(1.1);
}

.btn-custom {
    background-color: #f9a826;
    color: white;
    font-weight: bold;
    padding: 8px 16px;
    font-size: 1rem;
    border-radius: 30px;
    transition: 0.3s;
}

.btn-custom:hover {
    background-color: white;
    color: #f9a826;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

/* Responsive */
@media (max-width: 768px) {
    .navbar {
        text-align: center;
    }
}

/* Hero Banner Styling */
.hero-section {
    background: linear-gradient(135deg, #e3f2fd, #ffffff);
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 80px;
}

.hero-content {
    text-align: left;
    animation: fadeInUp 1.5s ease;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-custom {
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 16px;
    margin: 10px;
}

.illustration {
    mix-blend-mode: multiply;
    animation: slideIn 1.8s ease;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    text-align: right;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-content,
.illustration {
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
        margin-top: 100px;
    }
    .hero-content {
        text-align: center;
    }
}

/* about section */
.about-section {
    padding: 80px 20px;
    background-color: white;
    position: relative;
}
.company-name{
    text-align: center;
    font-weight: bold;
    color: #222;
}
.about-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #222;
    margin-bottom: 10px;
}

.highlight-text {
    color: #f9a826;
    font-weight: bold;
}

.experience-number {
    font-size: 5rem;
    font-weight: bold;
    color: #c49a85;
}

.subtext {
    font-size: 1rem;
    color: #555;
}

.discover-btn {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.7s ease, background-size 0.5s ease-in-out;
}
.discover-btn:hover{
    color: #f9a826 !important;
}

/* Animation */
.animate__animated {
    animation-duration: 1.5s;
}

.card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.icon-box {
    font-size: 40px;
    color: #003366;
}

.discover-btn {
    transition: background-color 0.3s ease-in-out;
}

/* contact section */
.shadow-lg{
    box-shadow: 
    inset 3px 3px 6px rgba(204, 219, 232, 1),  /* Bottom-right */
    inset -3px -3px 6px rgba(255, 255, 255, 0.5), /* Top-left */
    inset -3px 3px 6px rgba(204, 219, 232, 1),  /* Bottom-left */
    inset 3px -3px 6px rgba(204, 219, 232, 1) !important; /* Top-right */

}

/* project section */

.nav-pills .nav-link {
    background: #f1f1f1;
    color: #003366;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 20px;
    margin: 5px;
    transition: all 0.3s ease-in-out;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link:hover {
    background: #f9a826;
    color: #fff !important;
    cursor: pointer;
}

/* Project Card Styling */
.project-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(204, 219, 232, 1), -3px -3px 6px rgba(255, 255, 255, 0.5);
}

.project-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.project-item:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 51, 102, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.project-item:hover .overlay {
    opacity: 1;
}

.project-name {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    border-radius: 5px;
}

.project-name:hover {
    background: rgba(255, 255, 255, 0.4);
}

.list-unstyled li a{
    color: #003366;
}
.list-unstyled li a:hover{
    color: #f9a826;
}

/* services breadcrumb */

.service-breadcrumb{
    margin-top: 104px;
}

.breadcrumb-container {
    text-align: center;
    padding: 2rem;
}
.breadcrumb {
    background: transparent;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.breadcrumb-item a {
    color: #007bff;
    text-decoration: none;
}
.breadcrumb-item.active {
    color: #495057;
    font-weight: bold;
}
.breadcrumb-list{
    display: flex;
    justify-content: center;
}

#service-image{
    border-radius: 10px;
}

.service-list{
    list-style-type: none;
}
.service-list li .bi-check-lg{
    font-size: 1.3rem;
    font-weight: bold;
    color: #f9a826;
}

.service-list li a{
    color: #003366;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
}

.service-list li a:hover{
    color: #f9a826;
}
.feature-desc{
    text-align: justify;
}

.feature-image{
    width: 80px;
}

/* about us */
.about-text{
    font-weight: bold !important;
    text-align: center;
    letter-spacing: 0.2cap;
    font-size: 1.2rem;
}
.about-us{
    font-size: 40px;
    text-align: center;
}

.about-container{
    margin-top: 8rem;
}

.accordion .accordion-item{
    border: none !important;
    border-radius: 10px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.accordion .accordion-header{
    border: none !important;
}
.accordion-header button{
    background-color: #c49a85 !important;
    color: #fff !important;
    font-weight: bold !important;   
}

.accordion-header .collapsed{
    background-color: #fff !important;
    color: #222 !important;
    font-weight: bold !important;
}

.accordion-body p{
    text-align: justify !important;
}

.claim-container{
    margin-top: 8rem !important;
}

.about-card {
    display: flex;
    flex-direction: column;
    align-items: center; /* Horizontally center */
    justify-content: center; /* Vertically center (if needed) */
    text-align: center;
}

.about-card img {
    max-width: 50%; /* Ensure responsive image */
    height: auto;
}
.form-para{
    font-size: 1.2rem;
    font-weight: bold !important;
}

.contact-about-info {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center */
    text-align: left;
    background-size: contain; /* Ensure image fits well */
    background-position: right center; /* Keep image aligned to the right */
    background-repeat: no-repeat;
    padding: 40px;

}

.contact-about-info h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: left !important;
}

.contact-about-info .phone-number {
    font-size: 32px;
    font-weight: bold;
    color: #0056b3;
}

.contact-about-info p {
    font-size: 16px;
    color: #555;
}